{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>click or else</title>
</head>
<body>
  <header>
    <h1><a href="{% url 'index' %}">Clicker App.</a></h1>
  <small>
    <em>Now with Django</em>
  </small>
  </header> 
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2078 jef</p>
  </footer>
</body>
</html>